{% extends 'ventas/base.html' %}
{% block content %}
<h2 class="mb-4 text-primary">🧾 Registrar Nueva Venta</h2>
<form method="POST">
    {% csrf_token %}
    
    <div class="card mb-4 shadow-sm border-0">
        <div class="card-header bg-primary text-white fw-bold">
            👤 Datos del Cliente
        </div>
        <div class="card-body bg-light">
            <div class="row align-items-center">
                <div class="col-md-4 mb-3">
                    <label class="form-label fw-bold">RUT Cliente:</label>
                    <input type="text" name="rut" class="form-control" placeholder="Ej: 12345678-9" required>
                </div>
                
                <div class="col-md-3 mb-3 d-flex align-items-end h-100 mt-md-4">
                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" name="es_habitual" id="es_habitual" onchange="toggleNombre()">
                        <label class="form-check-label fw-bold" for="es_habitual">¿Guardar como cliente habitual?</label>
                    </div>
                </div>
                <div class="col-md-5 mb-3" id="nombre_div" style="display:none;">
                    <label class="form-label fw-bold">Nombre del Cliente:</label>
                    <input type="text" name="nombre" id="nombre" class="form-control" placeholder="Nombre completo">
                </div>
            </div>
        </div>
    </div>
    <div class="card mb-4 shadow-sm border-0">